<div class="home__container">
    <app-card 
        gameCover="assets/bt-1.jpg" 
        gameLabel="Battlefield 1" 
        gameType="Digital PS4"
        gamePrice="139.99"
    />

    <app-card 
        gameCover="assets/bt-2.png" 
        gameLabel="Battlefield 2" 
        gameType="Digital PS4"
        gamePrice="139.99"
    />
    <app-card 
        gameCover="assets/bt-2.jpg" 
        gameTag="true"
        gameLabel="Battlefield 2 Vietnam" 
        gameType="Digital PS4 - Digital PS5"
        gamePrice="149.99"
    />
    <app-card 
        gameCover="assets/bt-3.jpg" 
        gameTag="true"
        gameLabel="Battlefield 3" 
        gameType="Digital PS5"
        gamePrice="179.99"
    />
    <app-card 
        gameCover="assets/bt-2042.jpg" 
        gameTag="true"
        gameLabel="Battlefield 2042" 
        gameType="Digital PS5"
        gamePrice="179.99"
    />
</div>