.card-tag__container {
    position: absolute;
    top:  24px;
    right: -46px;

    transform: rotate(45deg);
}

.card-tag__content {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #dd0000;

    color: #FFFFFF;
    font-size: 12px;
    font-family: 'Segoe UI';
    font-weight: bold;

    height: 40px;
    width: 180px;
    padding: 0px 50px;
}